.botonera {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px; 
    margin: 10px;
}

.button {
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 5px; 
}

.button:hover {
    transform: scale(1.1); 
}
  

  .button.plan-b {
    background-color: #b21a8a; 
  }
  
  .button.historias-enfermeros {
    background-color: rgb(64, 0, 214); 
  }
  
  .button.ecotips {
    background-color: #f652e8; 
  }
  
  .button.sabias-que {
    background-color: rgb(185, 155, 255); 
  }
  
  .button.buenas-noticias {
    background-color: #1f92fe; 
  }
  
  .button.hotel {
    background-color: #f0054c; 
  }
  
  .button.sabores {
    background-color: #f00567; 
  }

  .button.salud {
    background-color: #f005b5; 
  }

  .button.musica-cura {
    background-color: #5f05f0; 
  }




  .botonera {
    text-align: center;
    margin-top: 20px;
  }
  

  
  
